extends _layout.jade
block content
  h1= "<x-beat>"
  style.
    @keyframes slide {
      0%,100% {
        transform: translateX(-100px);
      }
    }
    svg {
      width: 800px;
      height: 400px;
    }
    path {
      stroke: #000;
      stroke-width: 1px;
      shape-rendering: crispEdges;
      transform: translateX(800px);
      transition: all 10s linear;
    }
    path.red {
      stroke: rgba(255,0,0,0.5);
    }
    path.blue {
      stroke: rgba(0,0,255,0.5);
    }
    path.gtfo {
      transform: translateX(-800px);
    }

  x-beat(midi channel="0" note="65")
  script(src="assets/d3_beat_graph.js")
