extends _layout.jade
block content
  h1= "<x-beat>"
  style.
    @keyframes slide {
      0%,100% {
        transform: translateX(-100px);
      }
    }
    svg {
      padding: 1rem 0;
      font: 12px 'Helvetica Neue';
    }
    path {
      fill: none;
      stroke: #000;
      stroke-width: 1px;
    }
    line {
      fill: none;
      stroke: #000;
    }
    .axis text {
      display: none;
    }
    .bpm.midi {
      stroke: blue;
    }
    .bpm.visual {
      stroke: red;
    }
    /*path.red {*/
      /*stroke: rgba(255,0,0,0.5);*/
    /*}*/
    /*path.blue {*/
      /*stroke: rgba(0,0,255,0.5);*/
    /*}*/
    /*path.gtfo {*/
      /*transform: translateX(-800px);*/
    /*}*/

  x-beat(midi channel="0" note="65")
  svg.d3-svg
  svg.raw-svg
  script(src="assets/d3.min.js")
  script(src="assets/d3_beat_graph.js")
