extends _layout.jade
block content
  h1= "<x-beat>"
  x-beat(midi channel="0" note="65")
  x-gif(src="https://s3-us-west-2.amazonaws.com/x-gif-tests/explosion.gif" sync ping-pong)
  script.
    var xBeat = document.querySelector('x-beat'),
      xGif = document.querySelector('x-gif');

    xBeat.addEventListener('x-beat-clock', function(e) {
      xGif.clock.apply(xGif, e.detail);
    })
