extends _layout.jade
block content
  style.
    x-gif {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    h1 {
      background-color: rgba(255,255,255,0.1);
      float: left;
    }
  x-beat(midi channel="0" note="65")
  x-gif(sync ping-pong fill)
  script.
    var xBeat = document.querySelector('x-beat'),
      xGif = document.querySelector('x-gif');

    xBeat.addEventListener('x-beat-clock', function(e) {
      xGif.clock.apply(xGif, e.detail);
    })

    var gifs = [
      'https://s3-us-west-2.amazonaws.com/x-gif-tests/explosion.gif',
      'https://s3-us-west-2.amazonaws.com/x-gif-tests/fall.gif',
      'https://s3-us-west-2.amazonaws.com/x-gif-tests/jump.gif',
      'https://s3-us-west-2.amazonaws.com/x-gif-tests/pulse.gif',
      'https://s3-us-west-2.amazonaws.com/x-gif-tests/shocked.gif',
      'https://s3-us-west-2.amazonaws.com/x-gif-tests/ticked.gif',
      'https://s3-us-west-2.amazonaws.com/x-gif-tests/yeahnah.gif'
    ], gifNr = 0;

    function changeGif() {
      setTimeout(changeGif, 5000);
      xGif.setAttribute('src', gifs[gifNr]);
      gifNr = (gifNr + 1) % gifs.length;
    }
    changeGif();
